<!--
  This file takes care of launching the whole system. This is not supposed to be called directly, unless you know what
  you're doing.
  Arguments are:
    interface: the network interface the system will use to communicate;
    is_centralized: a boolean indicating whether the system will be operating in centralized mode. This is mainly
                    used by the data interface node to work out how to build the map vector.
-->
<launch>

  <!-- Arguments -->
  <arg name="is_centralized"  default="false"/>
  <arg name="launch_rviz"  default="false"/>
  <arg name="alt_mode" default="false"/>
  <arg name="robot_name"/>

  <!-- Parameters -->
  <param name="is_centralized" value="$(arg is_centralized)"/>
  <param name="is_transmitter" value="false"/>

  <!-- mrgs -->
  <node name="data_interface_node" pkg="mrgs_data_interface" type="data_interface_node" output="screen">
  </node>

  <!-- dam node -->
  <node name="map_dam_node" pkg="mrgs_auxiliary_nodes" type="map_dam_node" output="screen" unless="$(arg is_centralized)">
  </node>

  <!-- Rviz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find mrgs_scripts)/rviz/mrgs_default.rviz" if="$(arg launch_rviz)">
  </node>

  <!-- mrgs_complete_map node -->
  <node name="complete_map_node" pkg="mrgs_complete_map" type="complete_map_node" output="screen" unless="$(arg alt_mode)">
<!--      <param name="tf_prefix" value="$(arg robot_name)_tf"/>-->
  </node>

<!--  <node name="complete_map_node_alt" pkg="mrgs_complete_map" type="complete_map_node_alt" output="screen" if="$(arg alt_mode)">-->
<!--&lt;!&ndash;      <param name="tf_prefix" value="$(arg robot_name)_tf"/>&ndash;&gt;-->
<!--  </node>-->

  <!-- mrgs_alignment node -->
  <node name="align_node" pkg="mrgs_alignment" type="align_node" output="screen" cwd="node">
<!--      <param name="tf_prefix" value="$(arg robot_name)_tf"/>-->
  </node>

<!--  &lt;!&ndash; remote_nav node &ndash;&gt;-->
<!--  <node name="remote_nav_node" pkg="mrgs_auxiliary_nodes" type="remote_nav_node" output="screen">-->
<!--&lt;!&ndash;      <param name="tf_prefix" value="$(arg robot_name)_tf"/>&ndash;&gt;-->
<!--&lt;!&ndash;    <remap from="/tf"  to="$(arg robot_name)/tf"/>&ndash;&gt;-->
<!--  </node>-->



  <!-- modified rqt_console (was originally commented out)-->
<!--   <node name="console" pkg="rqt_console" type="rqt_console"/> -->
<!--   <node name="logger_level" pkg="rqt_logger_level" type="rqt_logger_level"/> -->
</launch>
