<launch>

  <arg name="robot_name_1" default="owrick"/>
  <arg name="launch_robot_1" default="true"/>
  <arg name="robot_name_2" default="meepo"/>
  <arg name="launch_robot_2" default="true"/>

  <arg name="RVIZ" default="true"/>
  <arg name="HW" default="false" doc="Hardware Launch"/>

  <group if="$(eval arg('HW') == true)">
    <param name="/use_sim_time" value="false"/>
  </group>
  <group if="$(eval arg('HW') == false)">
    <param name="/use_sim_time" value="true"/>
  </group>

  <param name="robot_description"
    command="$(find xacro)/xacro --inorder
      $(find robot_gazebo)/robot_description/urdf/robot.urdf.xacro" />


  <!-- RVIZ Launcher: -->
  <group if="$(eval arg('RVIZ') == true)">
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find autonomous_robot)/config/rviz/Multi.rviz" />
  </group>

  <!-- Start Owrick -->
  <group ns="$(arg robot_name_1)" if="$(eval arg('launch_robot_1') == true)">
    <param name="robot_name" value="$(arg robot_name_1)"/>
    <param name="other_robot_name" value="$(arg robot_name_2)"/>
    <param name="tf_prefix" value="$(arg robot_name_1)_tf" />
    <include file="$(find autonomous_robot)/launch/multi/Launch_Packages.launch">
      <arg name="robot_name" value="$(arg robot_name_1)"/>
      <arg name="HW" value="$(arg HW)"/>
    </include>
  </group>

  <!-- Start Meepo -->
  <group ns="$(arg robot_name_2)" if="$(eval arg('launch_robot_2') == true)">
    <param name="robot_name" value="$(arg robot_name_2)"/>
    <param name="other_robot_name" value="$(arg robot_name_1)"/>
    <param name="tf_prefix" value="$(arg robot_name_2)_tf" />
    <include file="$(find autonomous_robot)/launch/multi/Launch_Packages.launch">
      <arg name="robot_name" value="$(arg robot_name_2)"/>
      <arg name="HW" value="$(arg HW)"/>
    </include>
  </group>
</launch>
