<launch>
  <arg name="robot_name" value="meepo"/>
  <arg name="other_name" value="owrick"/>
  <arg name="HW" default="true"/>
  <arg name="xbee_port" default="ttyUSB1"/>

  <param name="xbee_port" value="$(arg xbee_port)"/>
  <param name="robot_description"
    command="$(find xacro)/xacro --inorder
      $(find robot_gazebo)/robot_description/urdf/robot.urdf.xacro"/>

  <group ns="$(arg robot_name)">
    <param name="robot_name" value="$(arg robot_name)"/>
    <param name="other_robot_name" value="$(arg other_name)"/>
    <include file="$(find autonomous_robot)/launch/multi/Launch_Packages_faizah.launch">
      <arg name="robot_name" value="$(arg robot_name)"/>
      <arg name="HW" value="$(arg HW)"/>
    </include>
  </group>

</launch>

