<launch>
  <arg name="robot_name" value="observer"/>
  <arg name="xbee_port" value="ttyUSB0"/>

  <param name="xbee_port" value="$(arg xbee_port)"/>
  <param name="/use_sim_time" value="false"/>

  <!-- RVIZ Launcher: -->
  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find autonomous_robot)/config/rviz/Multi.rviz"/>

  <!-- Start Observer-->
  <group ns="$(arg robot_name)">
<!--    <param name="tf_prefix" value="$(arg robot_name_1)_tf" />-->
    <include file="$(find autonomous_robot)/launch/multi/launch_packages_faizah.launch">
      <arg name="robot_name" value="$(arg robot_name)"/>
      <arg name="HW"  value="false"/>
<!--      <arg name="ME"  value="false"/>-->
<!--      <arg name="RSP" value="false"/>-->
<!--      <arg name="NAV" value="false"/>-->
      <arg name="MM"  value="false"/>
      <arg name="xbee_port" value="$(arg xbee_port)"/>

    </include>
    <!-- Start observer xbee node -->
<!--    <include file="$(find xbee_communication)/launch/communication_interface.launch">-->
<!--    </include>-->
  </group>
</launch>