<launch>
  <arg name="robot_name_1"    default="owrick"/>
  <arg name="launch_robot_1"  default="true"/>
  <arg name="xbee_port_1"     default="ttyUSB0"/>
  
  <arg name="robot_name_2"    default="meepo"/>
  <arg name="launch_robot_2"  default="true"/>
  <arg name="xbee_port_2"     default="ttyUSB1"/>

  <arg name="robot_name_3"    default="monkey"/>
  <arg name="launch_robot_3"  default="false"/>
  <arg name="xbee_port_3"     default="ttyUSB2"/>

  <arg name="RVIZ"        value="true"/>
  <arg name="HW"          value="false"       doc="Hardware Launch"/>
  <arg name="RSP"         value="false"       doc="robot state publisher"/>
  <arg name="NAV"         value="false"       doc="Navigation Stack"/>
  <arg name="SLAM"        value="false"       doc="GMapping"/>
  <arg name="MM"          value="false"       doc="Map Merging"/>
  <arg name="ME"          value="false"       doc="Map Exploration"/>
  <arg name="MRGS"        value="true"        doc="MRGS"/>
  <arg name="XBEE"        value="true"        doc="Xbee communication"/>
  <arg name="BAG"         value="true"        doc="Using bagfiles"/>

  <!-- hardware time setting POTENTIAL ISSUE HERE - NO SIM NO HARDWARE -->
  <param name="/use_sim_time" value="false"/>


  <!-- robot model POTENTIAL ISSUE HERE - NO SIM NO HARDWARE -->
  <param  name="robot_description"
          command="$(find xacro)/xacro --inorder $(find robot_gazebo)/robot_description/urdf/robot.urdf.xacro" />

  <!-- RVIZ Launcher 4 times for each map: -->
  <group if="$(arg RVIZ)">
    <node type="rviz" name="rviz_1" pkg="rviz" args="-d $(find autonomous_robot)/config/rviz/merged_meepo.rviz"/>
    <node type="rviz" name="rviz_2" pkg="rviz" args="-d $(find autonomous_robot)/config/rviz/merged_owrick.rviz"/>
    <node type="rviz" name="rviz_3" pkg="rviz" args="-d $(find autonomous_robot)/config/rviz/local_meepo.rviz"/>
    <node type="rviz" name="rviz_4" pkg="rviz" args="-d $(find autonomous_robot)/config/rviz/local_owrick.rviz"/>
  </group>



  <!-- Start Owrick -->
  <group ns="$(arg robot_name_1)" if="$(arg launch_robot_1)">
    <param name="robot_name" value="$(arg robot_name_1)"/>
    <param name="other_robot_name" value="$(arg robot_name_2)"/>
    <param name="tf_prefix" value="$(arg robot_name_1)_tf" />
    <include file="$(find autonomous_robot)/launch/multi/launch_packages_faizah.launch">
      <arg name="robot_name" value="$(arg robot_name_1)"/>
      <arg name="xbee_port" value="$(arg xbee_port_1)"/>
      <arg name="HW" value="$(arg HW)"/>
      <arg name="MM" value="$(arg MM)"/>
      <arg name="NAV" value="$(arg NAV)"/>
      <arg name="SLAM" value="$(arg SLAM)"/>
      <arg name="ME" value="$(arg ME)"/>
      <arg name="RSP" value="$(arg RSP)"/>
      <arg name="BAG" value="$(arg BAG)"/>
    </include>
  </group>

  <!-- Start Meepo -->
  <group ns="$(arg robot_name_2)" if="$(arg launch_robot_2)">
    <param name="robot_name" value="$(arg robot_name_2)"/>
    <param name="other_robot_name" value="$(arg robot_name_1)"/>
    <param name="tf_prefix" value="$(arg robot_name_2)_tf" />
    <include file="$(find autonomous_robot)/launch/multi/launch_packages_faizah.launch">
      <arg name="robot_name" value="$(arg robot_name_2)"/>
      <arg name="xbee_port" value="$(arg xbee_port_2)"/>
      <arg name="HW" value="$(arg HW)"/>
      <arg name="MM" value="$(arg MM)"/>
      <arg name="NAV" value="$(arg NAV)"/>
      <arg name="SLAM" value="$(arg SLAM)"/>
      <arg name="ME" value="$(arg ME)"/>
      <arg name="RSP" value="$(arg RSP)"/>
      <arg name="BAG" value="$(arg BAG)"/>
    </include>
  </group>

  <!-- Start Monkey -->
  <group ns="$(arg robot_name_3)" if="$(arg launch_robot_3)">
    <param name="robot_name" value="$(arg robot_name_3)"/>
    <param name="other_robot_name" value="$(arg robot_name_1)"/>
    <param name="tf_prefix" value="$(arg robot_name_3)_tf" />
    <include file="$(find autonomous_robot)/launch/multi/launch_packages_faizah.launch">
      <arg name="robot_name" value="$(arg robot_name_3)"/>
      <arg name="xbee_port" value="$(arg xbee_port_3)"/>
      <arg name="HW" value="$(arg HW)"/>
      <arg name="MM" value="$(arg MM)"/>
      <arg name="NAV" value="$(arg NAV)"/>
      <arg name="SLAM" value="$(arg SLAM)"/>
      <arg name="ME" value="$(arg ME)"/>
      <arg name="RSP" value="$(arg RSP)"/>
      <arg name="BAG" value="$(arg BAG)"/>
    </include>
  </group>

</launch>

